<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<hr />
<%= link_to articles_path do %>
  <i class="fas fa-history"></i> Back to list
<% end %>
<%= link_to edit_article_path, class: "btn btn-primary" do %>
  <i class="fas fa-pencil-alt"></i> Edit article
<% end %>
